/*--------adjustment---------*/

html{
	width: 100%;
	height: 100%;
}

body{
	background: #f0f0f0;
	width: 100%;
	height: 100%; 
	font-size: 14px;
	line-height: 1.42em;
	font-family: 'helveticaneuecyrroman';
}

.wrapper{
	min-height: 100%;
	overflow: hidden;
	position: relative;
}

.footer{
	height: 115px;
	margin-top: -115px; 
	position: relative;
}

.empty{
	clear: both;
	height: 115px;
}

ul{
	margin: 0;
	padding: 0;

}
ul li{
		list-style: none;
	}

p{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}

*{
	box-sizing: border-box;
}

.container{
	width: 1170px;
	margin: 0 auto;
}
/* --------header ------------*/
.header{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fb3e38+0,ff8f30+100 */
background: #fb3e38; /* Old browsers */
background: -moz-linear-gradient(left, #fb3e38 0%, #ff8f30 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #fb3e38 0%,#ff8f30 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #fb3e38 0%,#ff8f30 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb3e38', endColorstr='#ff8f30',GradientType=1 ); /* IE6-9 */
}

.header__logo, .header__search, .header__menu {
	float: left;
}

.header_top::after {

	clear: both;
	display: table;
	content: "";
	}

.header_top::before {
	display: table;
	content: "";
	clear: both;
	
	}

.header__logo {
	width: 25%;
}

.header__search {
	width: 40%;
}

.header__menu {
	width: 35%;
}

.logo {
	display: inline-block;
}

.logo__pic {
	display: block;
	max-width: 175px;
	max-height: 55px;

}

.search__input {
 	padding: 10px 40px 10px 35px;
    background: rgba(#fff, .2);
	border: 0 none;
	/*@include border-radius(50px);*/
	border-radius: 50px;
	color: #fff;
	outline: none;
	width: 100%;

	&::-webkit-input-placeholder{
		color:#fff;
	}

	&:-moz-placeholder{
		color:#fff;
	}	

	&::-moz-placeholder{
		color:#fff;
	}

	&:-ms-placeholder{
		color:#fff;
	}
}

.search__submit {
	background: url('img/icons/zoom.png') 0 0 no-repeat;
	height: 18px;
	width: 18px;
	
	display: block;
	border: none;
	position: absolute;
	right: 18px;
	/*top: 50%;*/
	margin-top: -9px;
	padding: 0;
}

.menu__item{
	display: inline-block;
}

.menu{
	text-align: justify;

	&:after {
		content: "";
		display: inline-block;
		width: 100%;
		height: 0;
	};
}

.menu__link {
	display: block;
	padding: 10px;

}

.menu__link_iconed{
	padding-left: 50px;
	padding-right: 20px;
	position: relative;
	border: 2px solid #ffaf6a;
	border-radius: 50px;
}

.menu__link-text {
	color: #fff;
	font-size: 13px; 
}

.menu__link-icon{
	position: absolute;
	left: 13px;
	top: 10px;
	bottom: 0;
	width: 20px;
}